
body{
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    margin: 0rem;
}

a{
  color: black;
  text-decoration: none;
}

li{
    list-style: none;
}

h1{
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
}

.landing-from-body{
  height: fit-content;
}

.get-start , .form-get-start, .landing-page-sec{
    display: grid;
}

 .get-start{
    font-family: "Poppins", sans-serif;
    width: 142px;
    height: 50px;
    background-color: #C82021;
    border-radius: 10px;
    place-content: center;
    color: white;
    border: 1px solid transparent;
    transition: 0.5s;
}

.get-start:hover , .form-get-start:hover{
    background-color: white;
    border: 1px solid #C82021;
    color: black;
}

.form-get-start{
    font-family: "Poppins", sans-serif;
    width: 142px;
    height: 50px;
    background-color: #C82021;
    border-radius: 10px;
    place-content: center;
   color: white;
   transition: 0.5s;
   margin: 0rem auto;
}

.headr-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0rem;
    color: #474747;
    font-weight: 400;
}

.nav-ul li:hover{
    color: #C82021;
}

.landing-page-sec{
    position: relative;
    background: url("../src//assets//landing-sec/Rectangle-2.png");
    color: white;
    height: 780px;
    padding: 2rem 0rem;
    place-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.landing-page-sec::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: 0;
}

.header-main-sec{
    height: 80px;
    display: flex;
    align-items: center;
}

.landing-sec-tit-nd-para-warp{
    width: 710px;
   padding: 3rem 2rem 0rem;
}

.landing-sec-tit-nd-para-warp > p{
    margin: 2rem 0rem;
}

.landing-form-card{
    position: relative;
    background-color: white;
    padding: 0rem 0rem 2rem;
    /* width: 621px; */
    border-radius: 10px;
    display: grid;
}

.landing-from-head{
    display: flex;
    color: black;
    justify-content: space-around;
    font-size: 18px;
    align-items: center;
    padding: 1.5rem 0rem 0rem;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    border-bottom:1px solid #BBBBBB ;
}
section .landing-from-head span{
    width: 50%;
    border-bottom: 3px solid transparent;
    padding-bottom:1.5rem ;
    transition: 0.6s ease;
    margin: 0rem 2rem ;
}

.landing-from-head span:hover{
    width: 50%;
    border-bottom: 3px solid red;
}

.landing-from-body{
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
    margin: 0rem 1rem;
    padding: 2rem 2rem;
    gap: 30px;
    width: 451px;
}

.costamur-card-1{
    width: 334px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1rem;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    color: #474747;
}

.costamur-card-2{
    width: 289px;
    height: 100px;
    padding: 1rem;
    gap: 20px;
    display: flex;
    border-radius: 10px;
    background-color: white;
    color: #474747;
}

.costamur-card-2-imgs{
    flex-shrink: 0;
}

.landing-sec-row{
    display: flex;
    position: relative;
}

.New-York , .Select-Property , .Select-Rooms{
    background-color: #EEEEEE;
    border: none;
    height: 59px;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 1rem 2rem;
    display: block;
    color:#888888;
}

.costamur-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 4rem;
}

.costamur-card-1-imgs > img{
    margin-left: -10px;
}

.costamur-card-1-imgs{
    width: 165px;
    margin-left: 1rem;
    flex-shrink: 0;
}

.why-choose-us-sec{
    background-color: #ffffff;
    padding: 3rem 0rem;
    text-align: center;
}

.costamur-card-1-cont , .costamur-card-2-cont{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.why-choose-us-row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.why-chos-us-inner-card{
    display: grid;
    place-content: center;
    text-align: center;
    background-color: #F1F1F1;
   border-radius: 10px;
   padding: 2rem;
}

.why-chos-us-tit{
    margin: 1.4rem 0rem;
}

.why-choos-us-main-tit{
    margin: 2rem 0rem;
    position: relative;
}

.why-choos-us-main-tit::before , .find-property-by-city-tit::before , .Our-Exclusive-Agents-tit::before  , .blog-sec-tit::before , .WhatOurClientSays-tit::before , .how-we-can-help-tit::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background: rgb(152,4,19);
     background: linear-gradient(90deg, rgba(152,4,19,1) 0%, rgba(255,7,7,1) 27%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 46%, rgba(255,10,10,1) 47%, rgba(255,0,0,1) 56%, rgba(255,57,57,1) 58%, rgba(255,255,255,1) 62%, rgba(255,255,255,1) 78%, rgba(242,0,0,1) 87%, rgba(255,0,0,1) 99%);
     bottom: -15px;
}

.why-chooss-us-btn{
    border: 1px solid #C82021;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: #C82021;
    position: relative;
    display: grid;
    place-content: center;
    border-radius: 10px;
    margin: 0rem auto;
    margin-top: 3rem;
    padding-right: 2rem;
    transition: 0.5s;
}

.why-chooss-us-btn:hover{
    background-color: #C82021;
    border: 1px solid #ffffff;
    color: white;
}

.why-chooss-us-btn::before{
  content: "";
  position: absolute;
  background: url("../src/assets/why-choos-us/Vector.png");
  width: 20px;
  height: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  right: 25%;
} 

.about-us-sec{
    background-color: #F2F1EF;
    position: relative;
    overflow: hidden;
    height: 733px;
    padding: 2rem 0rem;
}

.about-us-sec::before{
    content: "";
    position: absolute; 
    width: 100%;
    height: 100%;
    background: url("../src/assets/about-us/Pattern.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.about-us-contant-card{
    position: relative;
    z-index: 2;
    padding: 3rem 0rem;
}

.about-us-contant-card p{
    margin-top:1.3rem;
}

.about-us-sec::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 70%;
    width: 1050px;
    height: 100%;
    background: url("../src/assets/about-us/about-us-main.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);
}
.about-us-main-tit{
    margin: 1.5rem 0rem;
    font-size: 44px;
    font-weight: 600;
    line-height: 54px;
    text-align: left; 
}

.abt-btn{
    font-family: "Poppins", sans-serif;
    width: 142px;
    height: 50px;
    background-color: #C82021;
    display: grid;
    border-radius: 10px;
    place-content: center;
    color: white;
    margin-top: 2rem;
    transition: 0.5s;
    border: 1px solid transparent;
}

.abt-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.abt-red-mini-tit{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #C82021;
}

.abt-div-mini-tit{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
}

.expreance-projects-previus{
    margin-top: 2rem;
}

.about-us-mini-tit{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
}

.how-we-can-help-tit{
    font-size: 44px;
    font-weight: 600;
    line-height: 54px;
    position: relative;
}

.how-we-can-help-sec{
    text-align: center;
    padding: 4rem 0rem;
}

.how-we-can-help-sec > img{
    margin: 1rem 0.5rem;
    transition: 0.4s;
}

.list-of-sevices-topcard{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0rem auto;
    border: none;
}

.list-of-sevices-topcard > div{
    display: inline-block;
    margin: 3rem 1rem;
    border: none !important;
    color: black;
}

.nav-tabs .nav-link{
    padding: 0rem;
    margin: 1rem 1rem ;
    border: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding-bottom: 2rem;
    margin: 1rem auto 0rem;
}

.nav-tabs .nav-link:hover{
   border-bottom: 2px solid #C82021;
}

.how-we-can-help-sec .nav-tabs .nav-link{
    padding: 0rem;
    margin: 3rem 1rem;
    border: none;
}

.nav-tabs .nav-link:hover{
    color: #C82021;
}

.list-of-sevices-topcard > div:hover img{
    filter: brightness(0) saturate(100%) invert(14%) sepia(57%) saturate(6711%) hue-rotate(356deg) brightness(112%) contrast(120%);
}

.how-we-can-help-card-img{
    border-radius: 16px;
    overflow: hidden;
}

.card-price{
    display: block;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
    margin-top: 1.4rem;
}

.room-options{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: 1rem 0rem;
    text-align: left;
    font-size: 13px;
}

.room-options > div{
    padding-left: 1rem;
}

.bed , .bath , .sqft{
    position: relative;
}

.how-we-can-help-sec-card{
    position: relative;
    margin-bottom: 2rem;
}

.how-we-can-help-sec-card::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: url("../src/assets/How-we-can-help/heart.svg");
    background-position: center;
    background-size: contain;
    top: 20px;
    right: 20px;
}

.bed::before , .bath::before , .sqft::before{
    content: "";
    position: absolute;
    width: 14px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.bed::before{
    background: url("../src/assets/How-we-can-help/bed.png");
}

.bath::before{
    background: url("../src/assets/How-we-can-help/bath.png");
}

.sqft::before{
    background: url("../src/assets/How-we-can-help/sqft.png");
}

.happy-customer-card{
    background-color: #FFFFFF;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
    position: relative;
}

.happy-customer{
    padding: 3rem 0rem;
    background-color: #F1F1F1;
}

.happy-customer-tit{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    /* width: 90%; */
}

.happy-customer-tit::before{
    content: "";
    position: absolute;
}

.h-c-1::before{
    background: url("../src/assets/happy-customer/crown.png");
}

.h-c-2::before{
    background: url("../src/assets/happy-customer/emoticon-happy.png");
}

.h-c-3::before{
    background: url("../src/assets/happy-customer/home.png");
}

.h-c-4::before{
    background: url("../src/assets/happy-customer/trophy.png");
}

.h-c-1::before , .h-c-2::before , .h-c-3::before , .h-c-4::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain ;
    width: 97.5px;
    height: 86.67px;
    right: 0px;
    bottom: 0px;
}

.find-property-by-row-1{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.find-property-img{
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.find-property-img img{
    transition: 0.8s;
}

.find-property-img > span{
    position: absolute;
    width: 100%;
    height: 50px;
    display: block;
    background-color: #C82021CC;
    z-index: 1;
    bottom: -100%;
    text-align: center;
    padding: 0.5rem;
    transition: 0.8s ease;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: white;
}

.find-property-img:hover span{
    bottom: 0%;
}

.find-property-img:hover img{
    transform: scale(1.1);
}

.find-property-by-city-sec{
    padding: 4rem 0rem;
}

.find-property-by-city-tit , .Our-Exclusive-Agents-tit  , .blog-sec-tit , .WhatOurClientSays-tit{
    font-size: 44px;
    font-weight: 600;
    line-height: 54px;
    margin: 0rem auto 2rem;
    width: fit-content;
    position: relative;
}

.Our-Exclusive-Agents-sec{
    padding: 4rem 0rem;
    position: relative;
    background-color: #F1F1F1;
}

.Our-Exclusive-social-prof{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 35px;
}

.Our-Exclusive-social-prof img{
    transition: 0.5s;
}

.Our-Exclusive-social-prof img:hover{
    background-color: #C82021;
    border-radius: 7px;
}

.Our-Exclusive-Agents-card-img{
    position: relative;
}

.Our-Exclusive-Agents-name{
    margin: 0.7rem;
}

.Our-Exclusive-Agents-card{
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
}

.blog-cards{
    position: relative;
    outline: 1px solid #BBBBBB;
    border-radius: 15px;
}

.blog-oather-date{
    display: flex;
    justify-content: space-between;
}

.blog-oather-img{
    flex-shrink: 0;
    display: flex;
}

.blog-oather-img img{
    object-fit: contain;
}

.testimo-inner-card{
    text-align: center;
}

.blog-oather{
    display: flex;
    gap: 20px;
}

.likesndcomments{
    display: flex;
    justify-content: space-evenly;
}

.blog-cards-content{
    padding: 2rem 1rem;
}

.blog-sec{
    padding: 4rem 0rem;
}

.blog-oather-content{
    width: 100%;
}

.blog-cards-content p{
    margin: 1rem 0rem;
}

.WhatOurClientSays-sec{
    padding: 4rem 0rem;
    position: relative;
    background-color: #F1F1F1;
}

.likes , .cmments{
    position: relative;
}

.likes::before , .cmments::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: -40px;
}

.likes::before{
    background: url("../src/assets/Blog/thumbs-up-like.png");
}

.cmments::before{
    background: url("../src/assets/Blog/ChatCircleDots.png");
}

.footer-sec{
    background-color: #272727;
    color: white;
    padding: 4rem 0rem;
}

.footer-sec .container{
    max-width: 1420px;
}

.footer-row{
    display: grid;
    grid-template-columns: 328px 216.65px 343.78px 345.78px;
    column-gap: 50px;
}

.footer-social-media{
    display: flex;
    justify-content: space-around;
}

.footer-cont-nd-logo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick-links-tit , .footer-contact-tit{
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
}

.quick-likes{
    padding: 0rem;
}

.quick-likes li{
    position: relative;
    margin: 30px 0px 0px 20px ;
    font-size: 20px;
    font-weight: 400;
    line-height: 33.33px;
    

}

.quick-likes li::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.quick-likes a{
    color: white;
    transition-duration: none;
}

.footer-news-letter-input{
    height: 60.06px;
    border-radius: 7px;
    padding: 0rem 2rem;
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    
}

.footer-news-letter-btn{
    font-family: "Poppins", sans-serif;
    width: 142px;
    height: 50px;
    background-color: #C82021;
    display: grid;
    border-radius: 10px;
    place-content: center;
    color: white;
    transition: 0.5s;
}

.footer-news-letter-btn:hover{
    background-color: white;
    color: black;
}

.footer-news-letter{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-news-letter p{
    font-size: 20px;
    font-weight: 400;
    line-height: 33.33px;
}

.footer-news-letter p{
    color: #B1B1B1;
}

.footeraddre , .footer-email , .footer-num{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    line-height: 30.67px;
}

.footeraddre::before{
    background: url("../src/assets/footer/location.svg");
}

.footer-email::before{
    background: url("../src/assets/footer/mail.svg");
}

.footer-num::before{
    background: url("../src/assets/footer/call.svg");
}

.footeraddre::before , .footer-email::before , .footer-num::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: -35px;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-contact span{
    margin-left: 30px;
}

.testimo-inner-card-para{
    position: relative;
    width: 70%;
    margin: 0rem auto;
}

.testi-profil-name{
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    margin: 1rem 0rem;
}

.testimo-inner-card-para::before{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 85px;
    height: 70px;
    background: url("../src/assets/testimonial/quat.png");
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.swiper-button-next{
    background: url("../src/assets/testimonial/next.png") ;
}

.swiper-button-prev{
    background: url("../src/assets/testimonial/prev.png") ;
}

.swiper-button-next , .swiper-button-prev{
    height: 55px !important;
    width: 55px !important;
    background-size: contain !important;
    position: absolute !important;
    top: 300px !important;
 }

.swiper-button-prev::after, .swiper-button-next::after{
    display: none !important;
}

.happy-customer-tit-warper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.happy-customer-tit-warper > *{
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    margin: 0.2rem 0rem;
}

